<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sideproject.makeboard.mapper.BoardMapper">


    <select id="getBoardTotalCount" resultType="Long">
        SELECT count(id)
        FROM baseboardlist ;
    </select>

    <select id="getBoardInfo" resultType="com.sideproject.makeboard.dto.BoardInfo">
        SELECT id, title, nickname, update_date, COALESCE(reply_count, 0) as reply_count
        FROM baseboardlist l
        LEFT OUTER JOIN (SELECT post_id, count(post_id) as reply_count FROM baseboardreplylist GROUP BY post_id) r
        ON l.id = r.post_id
        ORDER BY l.update_date DESC
        OFFSET #{offset}
        LIMIT #{listCnt};
    </select>

    <select id="getBoardInfoWithId" resultType="com.sideproject.makeboard.dto.BoardInfoWithId">
        SELECT nickname, title, content, update_date
        FROM baseboardlist
        WHERE 1=1 AND id = #{id}
        LIMIT 1;
    </select>

    <select id="getReplyInfoAll" resultType="com.sideproject.makeboard.dto.ReplyInfoAll">
        SELECT reply_id, post_id, parent_id, parent_true_false, content, nickname, update_date
        FROM baseboardreplylist
        WHERE post_id = #{postId}
        ORDER BY parent_id, reply_id;
    </select>

    <select id="isExistsId" resultType="boolean">
        SELECT
        EXISTS (SELECT id FROM baseboardlist WHERE id = #{id})
    </select>

    <select id="isExistsReplyId" resultType="boolean">
        SELECT
        EXISTS (SELECT reply_id FROM baseboardReplylist WHERE reply_id = #{parentId})
    </select>

    <select id="isCorrectPw" resultType="boolean">
        SELECT
        EXISTS (SELECT password FROM baseboardlist WHERE id = #{id} AND password = #{password})
    </select>

    <select id="isCorrectReplyPw" resultType="boolean">
        SELECT
        EXISTS (SELECT password FROM baseboardreplylist WHERE reply_id = #{replyId} AND password = #{password})
    </select>

    <select id="isParentReply" resultType="boolean">
       SELECT parent_true_false FROM baseboardreplylist WHERE reply_id = #{replyId}
    </select>

    <select id="setBoardInfo" resultType="Long">
        INSERT INTO baseboardlist (nickname, password, title, content, update_date)
        VALUES (#{nickName}, #{password}, #{title}, #{content}, now()) RETURNING id;
    </select>

    <select id="setBoardReplyInfo" resultType="Long">
        <if test = "parentId != null">
            INSERT INTO baseboardreplylist (post_id, parent_id, parent_true_false, content, nickname, password, update_date)
            VALUES (#{postId}, #{parentId}, false, #{content}, #{nickname}, #{password}, now()) RETURNING reply_id;
        </if>
        <if test = "parentId == null">
            INSERT INTO baseboardreplylist (post_id, parent_true_false, content, nickname, password, update_date)
            VALUES (#{postId}, true, #{content}, #{nickname}, #{password}, now()) RETURNING reply_id;
        </if>
    </select>

    <update id="putBoardInfo">
        UPDATE baseboardlist
        SET
            password = #{password},
            title = #{title},
            content = #{content},
            update_date = now()
        WHERE
            id = #{id}
    </update>

    <update id="putBoardReplyInfo">
        UPDATE baseboardreplylist
        SET
            password = #{password},
            content = #{content},
            update_date = now()
        WHERE
            reply_id = #{replyId}
    </update>

    <delete id="deleteBoardInfo">
        DELETE FROM baseboardlist
        WHERE id = #{id} AND password = #{password}
    </delete>

    <delete id="deleteBoardReplyInfo">
        <if test = "isParent">
            UPDATE baseboardreplylist
            SET
                content = null
            WHERE reply_id = #{replyId} AND password = #{password};
        </if>
        <if test = "!isParent">
            DELETE FROM baseboardreplylist
            WHERE reply_id = #{replyId} AND password = #{password};
        </if >
        DELETE FROM baseboardreplylist
        WHERE parent_id = #{parentId}
        AND content is null
        AND (SELECT count(parent_id) FROM baseboardreplylist WHERE parent_true_false is false AND parent_id = #{parentId}) = 0
    </delete>


</mapper>