<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sideproject.makeboard.mapper.BoardMapper">

    <select id="getBoardInfo" resultType="com.sideproject.makeboard.dto.BoardInfo">
        SELECT id, title, nickname, update_date
        FROM baseboardlist
        ORDER BY update_date DESC
        OFFSET #{offset}
        LIMIT #{listCnt};
    </select>

    <select id="getBoardInfoWithId" resultType="com.sideproject.makeboard.dto.BoardInfoWithId">
        SELECT nickname, title, content, update_date
        FROM baseboardlist
        WHERE 1=1 AND id = #{id}
        LIMIT 1;
    </select>

    <select id="isExistsId" resultType="boolean">
        SELECT
        EXISTS (SELECT id FROM baseboardlist WHERE id = #{id})
    </select>

    <select id="isCorrectPw" resultType="boolean">
        SELECT
        EXISTS (SELECT password FROM baseboardlist WHERE id = #{id} AND password = #{password})
    </select>

    <insert id="setBoardInfo">
        INSERT INTO baseboardlist (nickname, password, title, content, update_date)
        VALUES (#{nickName}, #{password}, #{title}, #{content}, now());
    </insert>

    <select id="getRecentBoardId" resultType="Long">
        SELECT id
        FROM baseboardlist
        ORDER BY id DESC
        LIMIT 1
    </select>

    <update id="putBoardInfo">
        UPDATE baseboardlist
        SET
            password = #{password},
            title = #{title},
            content = #{content},
            update_date = now()
        WHERE
            id = #{id}
    </update>

    <delete id="deleteBoardInfo">
        DELETE FROM baseboardlist
        WHERE id = #{id} AND password = #{password}
    </delete>





</mapper>